@home(session().get("connected")){

    <div id="container" style="width: 88%; height: 100%; float: right">
        <div style="padding-left: 300px; padding-right: 150px; padding-top: 5px; padding-bottom: 50px; height: 100%">
            <div class="panel callout radius" style="height: 100%; width: 500px; float: left">
                <img src="@routes.Assets.versioned("images/yoda.png")" width="400px"; style="float: left; padding-left: 60px">
                <div id="about-info" style="padding-top: 200px">
                    <div class="panel" style="background: white; font-family: initial; text-align: center">
                      <p>
                        Yoda (v.1.0.1) is a simple way for students to request tutors for Computer Science courses.*<br><br>
                        Sign up as a student or a tutor, search for course tutors, request and confirm sessions, and you're all set!<br><br>
                        Currently, Yoda is accessible only to Columbia University students, and only for CS courses.
                        Further versions will work on changing this.
                      </p>
                      <p><i>
                        *This project is a submission by Cool Kids Anonymous for COMS W4156 Advanced Software Engineering.
                      </i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
