.container { position:relative; padding:0 0 0 55px; }
#sidebar {
    position:absolute;  !important
    top:0; bottom:0; left:0;    !important
    width:0px; !important
}

#header { border:1px solid #000; width:100px; height:20px;
    margin:0 0 5px 0;
}
#content { border:1px solid #000; width:100px; height:50px;
    margin:5px 0 5px 0;
}
#footer { border:1px solid #000; width:100px; height:20px;
    margin:5px 0 0 0;
}